#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  ion-title {
    text-align: center;
    padding-top: 4px;
    color: var(--ion-color-light);
  }
  
  ///Imagem de Fundo
  .imgCenter {
    background-size: cover;
    background: url("../../assets/Imagens/fundo2.png") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    min-width: 100%;
    min-height: 100%;
  }
  ion-grid{
    margin: 0px !important;
    padding: 0px !important;
  }

  .semApostas{
    height: 340px;
  }
  
  /// botão dobrar
  
  .dobrar {
    position: absolute;
    top: 25px;
    // --border-radius:100%;
    font-weight: bold;
    --background:#f2f679;
    --color:#000;
    box-shadow: 0 0 1em #000;
  }

  .começar{

    position: absolute;
    top:62px;  
    // --border-radius:100%;
    font-weight: bold;
    --background:#f2f679;
    --color:#000;
    box-shadow: 0 0 1em #000;

  }
  //botão parar
  .parar {
    position: absolute;
    left: 75vw;
    // top: 150px;
    // --border-radius:50%;
    font-weight: bold;
    --background:#f2f679;
    --color:#000;
    box-shadow: 0 0 1em #000;
  }
  //botao mais uma carta
  .maisUma {
    font-weight: bold;
    position: absolute;
    left: 70vw;
    top: 40px;  
    bottom:  15px;
    --background:#f2f679;
    --color:#000;
   
    box-shadow: 0 0 1em #000;
    // --border-radius:50%
  }
  // botão info
  .info{
    padding-top:  5px;
  }
  ////////////////////
  
  
  .carta {
    background-color: white;
    height: 80px;
    width: 50px;
    border-radius: 5px;
    padding: 15px;
    box-sizing: content-box;
    position: relative;
    float: left;
    margin: 20px -10px 3px -30px;
    // box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
    box-shadow: inset 0 0 0.5em gold;
  }

  .cartaPostion{
      margin-left: 40px;
  }
  
  
  .naip-area {
    height:45px;
    width: 110%;
  }
  
  .naip-area:nth-child(2) {
    transform:rotate(180deg);
  }
  
  .naip-number, .naip-sign {
    display:block;
    width: 15px;
    text-align: center;
  }
  
  .naip-number {
    font-size: 15px;
    font-family: "  ", serif;
    font-weight: 400;
    width: 17px;
  }
  
  .naip-sign {
    font-size: 20px;
  }
  
  .carta-miolo {
    position: absolute;
    top: 0;
    width: 50px;
  }
  
  /*--------- Miolo 1 -----------*/
  .miolo-1 {
    text-align: center;
    line-height: 120px;
    font-size: 25px;
    // left: 25px;
  }
  
  .hearts{
    color: red;
  }
  .cartaVerso{
    background-color: white;
    height: 100px;
    width: 70px;
    border-radius: 5px;
    padding: 5px;
    box-sizing: content-box;
    position: relative;
    float: left;
    margin: 20px -10px 3px -30px;
    // box-shadow: -1px 1px 4px rgba(0,0,0,0.1);
    box-shadow: inset 0 0 0.5em gold;
    
  }

  // criação do balão
  .balao2{
	background: white;
	border-radius: 15px;
	width: 42px;
	height: 32px;
  padding-left: 13px;
  padding-top: 10px;
  font-weight: bold;
	position: relative;
}
.balao2:after{

  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 12px solid transparent;
  border-top: 10px solid white;
  bottom: -6px;
  left: 11%;
}
.positionBalao{
    z-index: 100;
    position: absolute;
    top: 10px;
    left: 5px;
}
ion-fab{
  padding-top: 15px;
}
ion-fab-list{
 margin-top: 15px;
}


/// Fichas \\\\\

.fichasPosition{
  padding-top: 150px;
}

// Dinheiro \\

.saldo{
  background-color: black;
  height: 70px;
}

.saldoPessoa{
  
  padding: 25px;
  text-align: center;
}
.apostaPessoa{
  border-radius: 5px;
  z-index: 100;
  position: absolute;
  top: 510px;
  left: 43vw;
  color: #fff;
  font-weight: bold;
  font-size: 20px;

}
.botaoFicha{

  height: 100px;
  --padding-end:0px;
  --padding-start:0px;
}
p{
  margin: 5px;
}

