<ion-content [fullscreen]="true">
  <div class="imgCenter">
    <!-- <ion-title>
      Blackjack
    </ion-title> -->

    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button color="dark" size="small" mode="ios" translucent="true">
        <ion-icon name="settings"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="start">
        <ion-fab-button routerLink="/home">

          <img src="../../assets/Imagens/fichavoltar.png" />
        </ion-fab-button>
        <!-- <ion-fab-button>

          <img src="../../assets/Imagens/fichasair.png" />
        </ion-fab-button> -->

      </ion-fab-list>
    </ion-fab>
    <div>
      <ion-button fill="clear" routerLink="/info" height="40px" width="40px">
        <ion-icon name="information-circle-outline" color="success" height="40px" width="40px"></ion-icon>
      </ion-button>
    </div>
    <ion-grid>
      <ion-row  *ngIf="!comecarGame" class="semApostas">

      </ion-row>
      <ion-row *ngIf="comecarGame">
        <ion-col size="12">
          <ion-title>Mesa</ion-title>
          <div class="positionBalao" *ngIf="desabilita">
            <div class="balao2"> {{saldoMaquina}}</div>
          </div>
          <div *ngFor="let maq of maquina; index as i">
            <!-- carta -->
            <div class="cartaPostion">
              <div class="carta" *ngIf="maq[2] != true">
                <div class="naip-area naip-top">
                  <span class="naip-number" [class.hearts]="['&hearts', '&diams'].includes(maq[1])">{{maq[0]}}</span>

                </div>

                <div class="naip-area naip-bottom">
                  <span class="naip-number" [class.hearts]="['&hearts', '&diams'].includes(maq[1])">{{maq[0]}}</span>

                </div>

                <div class="carta-miolo miolo-1">
                  <span *ngIf="maq[1] === '&clubs'">&clubs;</span>
                  <span [ngClass]="{'hearts':maq[1]}" *ngIf="maq[1] === '&hearts'">&hearts;</span>
                  <span *ngIf="maq[1] === '&spades'">&spades;</span>
                  <span [ngClass]="{'hearts':maq[1]}" *ngIf="maq[1] === '&diams'">&diams;</span>
                </div>
              </div>
            </div>

            <div *ngIf="maq[2] == true ">
              <img src="../../assets/Imagens/cartaV.png" class="cartaVerso" />

            </div>



          </div>
        </ion-col>
        <ion-col size="12">
          <ion-title>Você</ion-title>
          <div class="positionBalao">
            <div class="balao2"> {{saldoPessoa}}</div>
          </div>
  
          <!-- <ion-badge color="success" mode="ios">{{saldoPessoa}}</ion-badge> -->
          <div *ngFor="let pes of pessoa">
            <!-- carta -->
            <div class="cartaPostion">
              <div class="carta">
                <div class="naip-area naip-top">
                  <span class="naip-number" [class.hearts]="['&hearts', '&diams'].includes(pes[1])">{{pes[0]}}</span>
                </div>

                <div class="naip-area naip-bottom">
                  <span class="naip-number" [class.hearts]="['&hearts', '&diams'].includes(pes[1])">{{pes[0]}}</span>
                </div>

                <div class="carta-miolo miolo-1">
                  <span *ngIf="pes[1] === '&clubs'">&clubs;</span>
                  <span [ngClass]="{'hearts':pes[1]}" *ngIf="pes[1] === '&hearts'">&hearts;</span>
                  <span *ngIf="pes[1] === '&spades'">&spades;</span>
                  <span [ngClass]="{'hearts':pes[1]}" *ngIf="pes[1] === '&diams'">&diams;</span>
                </div>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col size="12">
          <ion-button class="dobrar"  (click)="dobrarAposta()" [disabled]="desabilita && desabilitaAposta">
            Dobrar
          </ion-button>
        </ion-col>
        <ion-col size="12">
          <ion-button class="começar"  (click)="comecar()" [disabled]="comecarGame" >
           Começar
          </ion-button>
        </ion-col>
        <ion-col size="12">
          <ion-button class="parar"  (click)="goToMaquina()" [disabled]="desabilita">
            Parar
          </ion-button>
        </ion-col>
        <ion-col size="12">
          <ion-button class="maisUma"  (click)="maisUma()" [disabled]="desabilita">
            Mais Uma
          </ion-button>
        </ion-col>
      </ion-row>

      <div class="apostaPessoa" *ngIf="apostaPessoa !==0">
        <p>Aposta </p> 
        <p> R$ {{apostaPessoa}}</p>

      </div>
    
      <ion-row class="fichasPosition">
        <ion-col size="3">
          <ion-button class="botaoFicha" fill="clear" [disabled]="desabilitaAposta">
            <img src="../../assets/Imagens/ficha1.png" (click)="aposta('1')" />
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button class="botaoFicha" fill="clear" [disabled]="desabilitaAposta">
            <img src="../../assets/Imagens/ficha5.png" (click)="aposta('5')" />
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button class="botaoFicha" fill="clear" [disabled]="desabilitaAposta">
            <img src="../../assets/Imagens/ficha25.png" (click)="aposta('25')" />
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button class="botaoFicha" fill="clear" [disabled]="desabilitaAposta">
            <img src="../../assets/Imagens/ficha100.png" (click)="aposta('100')" />
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size=12>
          <div class="saldo">
            <ion-title class="saldoPessoa"> R${{dinheiroPessoa}}</ion-title>
          </div>

        </ion-col>
      </ion-row>

    </ion-grid>

  </div>
</ion-content>