<ion-header>
  <ion-toolbar color=primary>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text=""> </ion-back-button>
    </ion-buttons>
    <ion-title>Regras basicás do blackjack</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3> Regras Basicas </h3>
  <p>A Cada rodada de black Jack, você deverá tentar construir uma mão com um valor maior do que a máquina, sem a soma
    das cartas passar de 21.
    Sendo os valores das cartas: </p>
  <ul style="text-align: justify;">
    <li> A: podem contar como 11 ou 1;</li>
    <li> Q, J, K: valem 10;</li>  
    <li> 2 a 10: valem o numero correspondente a carta;</li>
  </ul>
  <h3>Como Jogar</h3>
  <p> Para iniciar a rodada, o primeiro passo é fazer uma aposta, para isso você deverá selecionar as fichas na parte
    inferior de acordo com o valor em que quer apostar. Depois de fazer a sua aposta, pressione o botao de negociação
    para começar.</p>

  <h3></h3>
  <p></p>

  <h3></h3>
  <p></p>

  <h3></h3>
  <p></p>

</ion-content>