<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text=""> </ion-back-button>
    </ion-buttons>
    <ion-title>Regras básicas do blackjack</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3> Regras Básicas </h3>
  <p>A Cada rodada de black Jack, você deverá tentar construir uma mão com um valor maior do que a máquina, sem a soma
    das cartas passar de 21.
    Sendo os valores das cartas: </p>
  <ul style="text-align: justify;">
    <li> A: podem contar como 11 ou 1;</li>
    <li> Q, J, K: valem 10;</li>
    <li> 2 a 10: valem o numero correspondente a carta;</li>
  </ul>
  <h3>Como Jogar</h3>
  <p> Para iniciar a rodada, o primeiro passo é fazer uma aposta, para isso você deverá selecionar as fichas na parte
    inferior de acordo com o valor em que quer apostar. Depois de fazer a sua aposta, pressione o botao de negociação
    para começar.</p>

  <h3> Mais uma </h3>
  <p> Selecione esta opção quando desejar solicitar outra carta. Você pode solicitar quantas cartas quiser, porém caso ultrapassar a soma de 21, você perderá a rodada.</p>

  <h3>Parar</h3>
  <p> Quando visualizar um bom jogo e decidir que não deseja outra carta, poderá parar seu jogo e deixar com que 
    a máquina faça a sua vez.</p>

  <h3>BlackJack</h3>
  <p>Qualquer mão contendo uma carta A e uma das cartas Q, J ou K é chamada de Black Jack. Se você faz um black Jack, vence a rodada. Se os dois tiver um BlackJack é empate</p>

</ion-content>