

<ion-content [fullscreen]="true">
  <div class="imgCenter">
    <ion-title>
      Blackjack
    </ion-title>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-button fill="clear">
            <ion-icon name="settings-outline" color="success" height="50px"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-button fill="clear">
            <ion-icon name="information-circle-outline" color="success"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col size=12  >
          <ion-fab vertical="bottom" horizontal="start" edge slot="fixed">
            <ion-fab-button>
              <ion-icon name="settings"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="end">
              <ion-fab-button><ion-icon name="logo-vimeo"></ion-icon></ion-fab-button>
            </ion-fab-list>
          </ion-fab>
        </ion-col>
        <ion-col size="12">
          <ion-button class="dobrar" color="light">
            Dobrar 
          </ion-button>
        </ion-col>
        <ion-col size="12">
          <ion-button class="parar" color="light">
            Parar
          </ion-button>
        </ion-col>
        <ion-col size="12">
          <ion-button class="maisUma" color="light">
            Mais Uma
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
















  </div>
</ion-content>