<ion-content [fullscreen]="true">
  <div class="imgCenter">
    <ion-title>
      Blackjack
    </ion-title>

    <ion-fab vertical="top" horizontal="start"  slot="fixed">
      <ion-fab-button color="dark" size="small" mode="ios" translucent="true">
        <ion-icon name="settings"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="end">
        <ion-fab-button routerLink="/game">Iniciar</ion-fab-button>
        <ion-fab-button>Sair</ion-fab-button>
     
      </ion-fab-list>
    </ion-fab>

    <ion-button class="iniciar"  routerLink="/game">Iniciar</ion-button>
 

  </div>
</ion-content>
