#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

// ion-toolbar{

//   --background: linear-gradient(to right, #3CB371, #2E8B57, #3CB371);

// }

ion-title {
  text-align: center;
  padding-top: 10px;
  color: var(--ion-color-light);
}

///Imagem de Fundo
.imgCenter {
  background-size: cover;
  background: url("../../assets/Imagens/fundo.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}

/// botão dobrar

.dobrar {
  position: absolute;
  // top: 100vw;
  --border-radius:100%;
  font-weight: bold;
}

.parar {
  position: absolute;
  left: 75vw;
  // top: 85vw;
  --border-radius:50%;
  font-weight: bold;
}
.maisUma {
  font-weight: bold;
  position: absolute;
  left: 70vw;
  top: 10vw;
  --border-radius:50%
}
////////////////////


.carta {
  background-color: white;
  height: 100px;
  width: 70px;
  border-radius: 15px;
  padding: 15px;
  box-sizing: content-box;
  position: relative;
  float: left;
  margin: 3px;
  box-shadow: -1px 1px 4px rgba(0,0,0,0.1);
}


.naip-area {
  height:50%;
  width: 100%;
}

.naip-area:nth-child(2) {
  transform:rotate(180deg);
}

.naip-number, .naip-sign {
  display:block;
  width: 10px;
  text-align: center;
}

.naip-number {
  font-size: 20px; 
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

.naip-sign {
  font-size: 20px;
}

.carta-miolo {
  position: absolute;
  top: 0;
  width: 50px;
}

/*--------- Miolo 1 -----------*/
.miolo-1 {
  text-align: center;
  line-height: 120px;
  font-size: 50px;
  left: 25px;
}

.hearts{
  color: red;
}
